*{margin: 0;padding: 0;font-family: 'Poppins';}

#app{
    max-width: 1800px; /* width of anilist banners */
    position: relative;
    margin: 0 auto; /* align center if screen > 1800px */
}

a{
    text-decoration: none;
    color: inherit;
}

.material-icons-round{
    font-size: inherit;
}

.unselectable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}